<tr>
  <th scope="row"><%= user.id %></th>
  <td><%= gravatar_for user, size: Settings.user.size.max_length %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td><input type="checkbox" <% if user.admin? %>checked<% end %> disabled></td>
  <td><%= user.created_at %></td>
  <td>
    <% if current_user.admin? && !current_user?(user) %>
      <%= button_to t(".delete"), user, method: :delete, data: {confirm: t(".confirm")} %>
    <% end %>
  </td>
</tr>
