<% provide :title, @user && @user.name || @microposts.user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user || @microposts.user %>
      <h1>
        <%= @user && @user.name || @microposts.user.name %>
      </h1>
      <!--  <span>Group name</span> -->
    </section>
  </aside>
  <div class="col-md-8">
    <% if @microposts.present? %>
      <h3><%= "#{t(".title_micropost")} (#{@microposts.count})" %></h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>
</div>
