<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: t(".placeholder") %>
    </div>
    <span class="image">
      <%= f.file_field :image, :class => "btn btn-primary", :onChange => "readURL(this);", accept:  Settings.shared.micropost_form.image_path %>
    </span>
    <div id="file-upload-content">
      <img id="file-upload-image" src="#" />
    </div>
  <%= f.submit t(".btn_submit_post"), class: "btn btn-primary" %>
<% end %>
