<%= link_to gravatar_for(current_user, size: Settings.user.size.max_length), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t(".title_link"), current_user %></span>
<span><%= pluralize current_user.microposts.count, t(".txt_micropost") %></span>
<span><%= current_user.group %></span>
